<div class="sidebar">
  <div class="container sidebar-sticky">
    
    <div style="text-align : center;">
      <img src='../../public/ads.png' width="112", height="112", text-align:center>
    </div>
    
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <a class="sidebar-nav-item" href="https://github.com/tommy-ahn">GitHub</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/dasom-ahn-37ab35110/">Linked In</a>
      <a class="sidebar-nav-item" href="https://www.researchgate.net/profile/Dasom-Ahn-2">Research Gate</a>
      <a class="sidebar-nav-item" href="https://cvpr.kmu.ac.kr/">CVPR LAB</a>
      
    </nav>
  </div>
</div>
