<div class="sidebar">
  <div class="container sidebar-sticky">
    
    <div style="text-align : center;">
      <img src='../../img/ads.png' width="224", height="224", style="display: block; margin: auto; margin-bottom: 2rem;">
    </div>
    
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          <p style="font-size: 43px;">{{ site.title }}</p>
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <div style="margin: 0 auto;">
        <a class="sidebar-nav-item" href="https://github.com/tommy-ahn">
          <img src="../img/github-mark-white.svg" alt="tommy-ahn github" style="width: 50px; hight:50px; float:left; display: inline-block;">
        </a>
        <a class="sidebar-nav-item" href="https://scholar.google.com/citations?user=SyZb3N8AAAAJ&hl=ko&oi=ao">
          <img src="../img/Google_Scholar_logo.svg.png" alt="tommy-ahn google scholar" style="width: 50px; hight:50px; float:left; display: inline-block;">
        </a>
        <a class="sidebar-nav-item" href="https://www.linkedin.com/in/dasom-ahn-37ab35110/">
          <img src="../img/linkedin.png" alt="tommy-ahn linkedin" style="width: 50px; hight:50px; float:left; display: inline-block;">
        </a>
        <a class="sidebar-nav-item" href="https://www.researchgate.net/profile/Dasom-Ahn-2">
          <img src="../img/rg.svg" alt="tommy-ahn researchgate" style="width: 50px; hight:50px; display: inline-block;">
        </a>
      </div>        
      <br>
      
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl } style="clear:both"}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}
      
      <a class="sidebar-nav-item" href="../img/CV_DasomAhn.pdf">Curriculum Vitae</a>
      <a class="sidebar-nav-item" href="https://cvpr.kmu.ac.kr/">CVPR LAB</a>
      
      <!-- <a class="sidebar-nav-item" href="https://github.com/tommy-ahn">GitHub</a> 
      <a class="sidebar-nav-item" href="https://scholar.google.com/citations?user=SyZb3N8AAAAJ&hl=ko&oi=ao">Google Scholar</a> 
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/dasom-ahn-37ab35110/">Linked In</a>
      <a class="sidebar-nav-item" href="https://www.researchgate.net/profile/Dasom-Ahn-2">Research Gate</a> -->
      
    </nav>
  </div>
</div>
